* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #1e1f24;
  color: white;
  background-repeat: repeat;
  background-size: 60px 60px;
  background-image: linear-gradient(to right, #26282e 1px, transparent 1px),
    linear-gradient(to bottom, #26282e 1px, transparent 1px);
  overflow: hidden;
}

button {
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
  font-size: 25px;
  margin: 5px;
}
button:disabled {
  color: red;
}
.HasUpgrade {
  color: rgb(0, 255, 0) !important;
  pointer-events: none;
}

button:hover {
  color: cyan;
}
.Accent {
  color: cyan;
}

.Menu {
  background-color: #0a0b0ce6;
  background-repeat: repeat;
  background-size: 200px 200px;
  background-image: linear-gradient(to right, #1b1c21 1px, transparent 1px),
    linear-gradient(to bottom, #26282e 1px, transparent 1px);
  text-align: center;
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.MenuButton {
  left: 0;
  top: 0;
}
.Hidden {
  display: none;
}

.Padding-Medium {
  padding: 20px;
}
.Absolute {
  position: absolute;
}
.Break {
  margin-top: 10%;
}
.CenterText {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.RAM {
  rotate: 25deg;
  animation: RAMAnimation ease-in-out 2s infinite;
}

@keyframes RAMAnimation {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

.RAMClick {
  animation: RAMClickAnimation ease-in-out 0.1s;
}
@keyframes RAMClickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.RAMIncreaseStyle {
  text-align: center;
  transform: translateY(-150px);
  opacity: 0;
  text-align: center;
}

#Notifications{
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 10;
  transform: translateY(300px);
}

.Notification {
  position: relative;
  animation: NotificationAnimation ease-in-out 1s forwards;
}
@keyframes NotificationAnimation {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  15% {
    transform: translateY(-300px);
    opacity: 1;
  }
  50% {
    transform: translateY(-300px);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}
